<table id="list">
  <thead>
    <tr>
      <th>Goal Name</th>
      <th>Details</th>
      <th>Start Date</th>
      <th>Due Date</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= goal.name %></td>
        <td><%= goal.details %></td>
        <td><%= goal.startDate %></td>
        <td><%= goal.dueDate %></td>
      </tr>
    </tbody>
  </table>