body {
  background-color: rgb(239, 242, 245);
  padding: 50px;
  font-family: 'Roboto', sans-serif;
}

.navbar a {
  color: white;
}

h2 {
  font-family: 'Abril Fatface', cursive;
  font-size: 18px;
  color: white;
  padding: 5px;
}

a {
  color: #264653;
}

.link:hover, a:hover {
  background-color: rgb(239, 242, 245);
  color: #A23216;
  text-decoration: none;
}

#yoohoo {
  background-color: #264653;
}

.navbar .container-lg {
  background-color: rgba(255, 255, 255);
  color: #264653;
  margin: 5px;
  padding: 5px;
}

.container-lg {
  background-color: rgba(255, 255, 255);
  margin: 5px;
  padding: 0px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #264653;
}

.container-lg .goals {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px;
  grid-template-rows: auto;
  grid-template-areas: 
    "header header header header"
    "main main main main"
    "footer footer footer footer";
  background-color: rgba(255, 255, 255);
  padding: 0px;
}

.header-link {
  color: white;
}

.header-link:hover {
  color: white;
  font-style: italic;
}

.item-a {
  grid-area: header;
  background-color: rgb(233, 196, 106);
  color: white;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.item-b {
  grid-area: header;
  background-color: rgb(42, 157, 143);
  color: white;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.item-c {
  grid-area: header;
  background-color: rgb(244, 162, 97);
  color: white;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

#chart {
  display: grid;
  grid-template-columns: [first] 20% repeat(7, auto);
  gap: 2px;
}


#chart #label {
  border: none;
}

#chart div {
  margin: 2px;
  display: grid;
  border-radius: 3px;
}

.empty {
  background-color: #DFF6F4;
}

.full {
  background-color: #2A9D8F;
}

img {
  border: 1px solid white;
}

.navbar-brand {
  margin-left: 10px;
}

.today {
  background-color: #e76f51;
  align-content: center;
}

#goals-header {
  background-color: rgb(67, 195, 178);
}

h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  padding: 5px;
}

table {
  text-align: left;
  overflow-x: auto;
  width: 100%;
}