<%- include('../partials/header') %>
<%- include('../partials/nav') %>


<form id="new-form" action="/habits" method="POST">
  <label>Name:</label>
  <input type="text" name="name">
  <br>
  <p>Frequency:</p>
  <label>Sun</label>
  <input type="checkbox" name="frequency" value="0">
  <label>Mon</label>
  <input type="checkbox" name="frequency" value="1">
  <label>Tue</label>
  <input type="checkbox" name="frequency" value="2">
  <label>Wed</label>
  <input type="checkbox" name="frequency" value="3">
  <label>Thu</label>
  <input type="checkbox" name="frequency" value="4">
  <label>Fri</label>
  <input type="checkbox" name="frequency" value="5">
  <label>Sat</label>
  <input type="checkbox" name="frequency" value="6">
  <br>
  <label>Weekly target: </label>
  <input type="text" name="target" placeholder="1-7">
  <label>Goals:</label>
  <select name="goalId">
    <%- goals.map(g =>
    `<option value="${g._id}">${g.name}</option>`
    ).join('') %>
  </select>

  <input type="submit" value="Create Habit">
</form>

<%- include('../partials/footer') %>
